{% extends 'CoreBundle:layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %}
    {{ parent() }}
{% endblock %}
{% block navbar %}
    {{ parent() }}
 {% endblock %}
{% block sidebar %}
    <aside>
        <h3></h3>
        <p>
            <a href="{{ path('blog_core_author_show', { slug: post.author.slug}) }}">{{ post.author.name }}</a>
        </p>
    </aside>
{% endblock %}
{% block section  %}
    <article class="post">
        <header>
            <h1>  {{ post.title }}</h1>
            <p>
                {{ 'post.on' }} <time datetime="{{ post.createdAt |date('c') }}">{{ post.createdAt |date  }}</time>
            </p>
        </header>
        <p>
            {{ post.body |nl2br }}
        </p>
    </article>
    <a href="" id="comments"></a>
    <h2>Comments </h2>
     {% for comment in post.comments %}
         {{ include('CoreBundle:Post:_comment.html.twig', {comment: comment}) }}
     {% endfor %}

    <h4>leave Comment</h4>
    {{ form(form, {action: path('blog_core_post_createcomment',{slug: post.slug}) ~'#comments' }) }}
{% endblock %}
{% block javascript %}
{{ parent() }}
{% endblock %}