{% extends "::base.html.twig" %}
{% block stylesheets %}
    <!-- this is the main styles-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('css/clean-blog.min.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- end of styless -->
{% endblock %}
{% block body %}
    <header>
      <!-- this is navbar section -->
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ path('blog_core_post_index') }}">Home</a>
                        </li>
                        <li>
                            <a href="{{ path('#') }}">About</a>
                        </li>
                        <li>
                            <a href="{{ path('#') }}">Sample Post</a>
                        </li>
                        <li>
                            <a href="{{ path('#') }}">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
      <!-- end of navbar section -->
    </header>
    {% block sidebar %}
    {% endblock %}
<section>
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <p class="session-message">{{ message }}</p>
        {% endfor %}
    {% endfor %}
    {% block section  %}

    {% endblock %}
</section>
<footer>
    <p>&copy; {{ 'now'|date('Y') }}Symfony2 Blog </p>
</footer>
{% endblock %}
